body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0px;
    color: #3dbe29;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 1.3rem;
    padding: 20px 5px;
}

label {
    font-weight: bold;
    display: block;
    margin: 5px;
}

input[type="text"],
input[type="password"] {
    margin: 10px 0px;
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: -webkit-fill-available;
}

a {
    text-decoration: none;
}

#mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #faf9f6;
    border: 1px solid #ccc;
    width: 80%;
    margin: 35px 5px;
    border-radius: 10px;
}

#loginContainer {
    width: 50%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    background: white;
    padding: 30px 10px;
    margin: 5%;
}

#button:hover{
    background-color: #36a125;
}

#button, #register {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #3dbe29;
    color: white;
    margin: 15px 0px;
    font-weight: bold;
}

#logoRegister{
    color: black;
}

#regLink {
    margin: 10px 5px 20px;
}

#userNameStatus,
#passwordStatus, 
#userNameStatus1,
#passwordStatus1,
#emailStatus,
#phoneStatus {
    display: block;
    margin: 15px 5px;
    font-style: Italic;
    font-size: 15px;
}

.fields {
    display: block;
    Justify-content: left;
    width: 100%;
    text-align: left;
    padding: 0px 1px 5px;
    margin: 0px 5px 15px;
}

.weak, .invalid{
    color: red;
}

.medium{
    color: orange;
}

.strong, .valid{
    color: green;
}